<div class="sale-week-root">
  <h3>Общий доход</h3>
  <form [formGroup]="saleForm">
    <mat-form-field>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" formControlName="startDate" (dateChange)="onDateChange();picker.close()">
        <input matEndDate placeholder="End date" formControlName="endDate" (dateChange)="onDateChange();picker.close()">
      </mat-date-range-input>
      <mat-hint>{{saleInterval?.startDate | date}} – {{ saleInterval?.endDate | date }}</mat-hint>
      <mat-datepicker-toggle matIconPrefix [for]="picker"> </mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>
  <canvas #salesChartCanvas></canvas>
</div>
