.sale-week-root{

  align-items: center;
  background-color: #FFFFFF;
  width: 400px;
  height: 450px;
  padding: 20px;
}
.sale-week-root h3{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.sale-week-root form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
