:host{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.sale-list{
  display: flex;
  flex-wrap: wrap;
}
.sale-element{
  padding: 10px;
  margin: 20px;
}

.add-sale-button{
  display: flex ;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #40A3FF;
  color: #FFFFFF;
  padding: 20px;
  font-weight: bold;
  width: 200px;
  margin-left:20px;
  border-radius: 10px;
}

.add-sale-button:hover{
  background-color: indianred;
  cursor: pointer;
}

.add-sale-button:active{
  transform: translateY(3px);
}

.pagination{
  width: 50%;
  margin: 0 auto;

}
