.workers-root{
  margin: 20px;
}

.add-worker-button{
  background-color: #40A3FF !important;
  color: #FFFFFF !important;
}

.workers-table{
  min-width: 50vw;
  margin-top: 20px;
}

.workers-root{
  width: 100%;
}

.mat-header{
  background-color: #40A3FF;
}

.pagination{
  position: fixed;
  bottom: 0;
  left: 50%; /* Расположить элемент посередине горизонтально */
  width: 50%;
  transform: translateX(-50%); /* Центрирование элемента по горизонтали */


}
